*{
  background-color: rgb(255, 255, 255);
}

body{
  margin: 0;
  font-size: 1rem;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  -ms-overflow-style: none;
}

#head{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

#gate {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

#sketch{
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  position: relative;
  display: block;
}

.why{
  width: 100%;
  height: auto;
  position: relative;
  display: block;
}

h2{
  font-size: 1.5rem;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 700;
  font-style: normal;
  animation: Color 8s linear infinite;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
a:hover{
  display: inline-block;
  scale: 90%;
}

::selection {
    color: white;
    background: rgb(0, 0, 0);
  }

@keyframes Color{
    0%{
      color:green;
    }
    
    20%{
      color:rgb(68, 68, 255);
    }
    
    40%{
      color:orange;
    }
    
    60%{
      color:rgb(255, 63, 63);
    }
    
    80%{
      color:rgb(255, 163, 255);
    }
    
    100%{
      color:rgb(79, 226, 79);
    }
  }